<main class="main-container">    
    <div class="card my-5">
        <a routerLink="/tickets/add" class="btn btn-info">Add Ticket</a>
        <div class="card-body">
            <table class="table table-bordered table-striped table-dark">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Type</th>
                        <th scope="col">Title</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Created</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ticket of tickets">
                        <td>{{ ticket.ticketID }}</td>
                        <td>{{ ticket.type }}</td>
                        <td>{{ ticket.title }}</td>
                        <td><span class="badge" [class.badge-danger]="ticket.priority === 'HIGH'">{{ ticket.priority }}</span></td>
                        <td>{{ ticket.createdDate }}</td>
                        <td>
                            <a [routerLink]="['/tickets', ticket.ticketID]" class="btn btn-info">Info</a>
                            <button (click)="delete(ticket.ticketID)" type="button" class="delete btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>